* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 32px;
}

body {
  background-color: black;
  color: white;
}

header {
  padding-left: 1rem;
}

.watch-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.watch-container__day {
  background-color: blue;
  width: 50vw;
  display: flex;
  justify-content: end;
}

.watch-container__time {
  background-color: pink;
  display: flex;
}

.watch-container__time p {
  font-size: 5rem;
}

.watch-container__time h6 {
  background-color: orange;
  align-self: self-end;
  padding-bottom: 1rem;
}
