* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --text-color: whitesmoke;

  /* Light-mode color variables */
  --light-mode: whitesmoke;
  --light-text: black;

  /* Button color font */
  --button-color: var(--text-color);
}

html {
  font-size: 16px;
  background-color: var(--primary-color);
}

.light-mode {
  background-color: var(--light-mode);
  color: var(--light-text);
  --button-color: var(--light-text);
}

body {
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: "Orbitron", sans-serif;
  width: 100%;
}

header {
  padding: 1rem;
}

header button {
  background: none;
  border: none;
}

header button i {
  font-size: 1.5rem;
  color: var(--button-color);
}

.digital-clock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 100%;
}

main {
  background-color: chartreuse;
  height: 100vh;
}

.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  max-width: 100%;
  position: relative;
  background-color: blue;
}

.watch-container__day {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 7rem;
  top: 16rem;
  background-color: red;
}

.watch-container__time {
  display: flex;
  max-width: 100%;
}

.watch-container__time p {
  font-size: 3rem;
}

.watch-container__time h6 {
  align-self: self-end;
  padding-bottom: 0.5rem;
}

footer h6 {
  text-align: center;
}
