* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.watch-container {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
