* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: black;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  width: 100%;
}

header {
  padding: 1rem;
}

header button {
  background: none;
  border: none;
}

header button i {
  font-size: 1.5rem;
  color: whitesmoke;
}

.digital-clock {
  background-color: chartreuse;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 100%;
}

.watch-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.watch-container__day {
  background-color: blue;
  width: 50vw;
  display: flex;
  justify-content: end;
}

.watch-container__time {
  background-color: pink;
  display: flex;
  max-width: 100%;
}

.watch-container__time p {
  font-size: 3.5rem;
}

.watch-container__time h6 {
  background-color: orange;
  align-self: self-end;
  padding-bottom: 1rem;
}

footer h6 {
  text-align: center;
}
