* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.watch-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.watch-container__day {
  background-color: blue;
  width: 100vw;
}
